/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.hinokiHouse {
    @include mi.marginPercent(1920, 99, auto, 0, auto);
    @include mi.paddingPercent(1920, 161, 0, 238, 0);

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 0, auto, 0, auto);
        padding: 15.8% 0% 23.46% 0%;
    }
}

.bghinokiHouse {
    background: url(../img/bghinokiHousePc.png) no-repeat center top;
    background-size: cover;

    @include mi.mq(sp) {
        background: url(../img/bghinokiHouseSp.png) no-repeat center top;
        background-size: cover;
    }
}

.hinokiHouseWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 335);
    }
}

.secHinokiHouse {}

.h2HinokiHouse {
    @include mi.fontSizePc(43);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(100);
    font-weight: bold;

    @include mi.mq(sp) {

        @include mi.fontSizeSp(27);
        @include mi.lineheight(27, 40);
        @include mi.letterSpacing(100);
    }
}

.h3HinokiHouse {
    @include mi.marginPercent(1200, 119, auto, 0, auto);
    @include mi.ontenerWidth(1200, 1038);
    position: relative;

    @include mi.mq(sp) {
        margin-top: 8.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        width: 46%;
    }
}

.photsHinokiHouse {
    @include mi.marginPercent(1200, 57, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 7.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.secCtnHinokiHouse {
    @include mi.marginPercent(1200, 58, auto, 0, auto);
    @include mi.ontenerWidth(1200, 869);
    position: relative;

    @include mi.mq(sp) {
        margin-top: 10.2%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.sliderHinokiBox {
    @include mi.paddingPercent(1920, 35, 0, 57, 0);
    @include mi.marginPercent(1920, 68, auto, 0, auto);

    @include mi.mq(sp) {
        padding: 4.97% 0% 6.56% 0%;
        margin-top: 17.1%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.bgSliderHinokiBox {
    background: url(../img/bgSliderHinokiBoxPc.png) no-repeat center top;
    background-size: auto 100%;

    @include mi.mq(sp) {
        background: url(../img/bgSliderHinokiBoxSp.png) no-repeat center top;
        background-size: cover;
    }
}

.sliderHinokiBoxWap {}

.cntSliderHinokiBox {
    @include mi.ontenerWidth(1200, 912);
    margin: auto;
    position: relative;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 335);
    }
}

.sliderhinokiMainPc {
    @include mi.marginPercent(1920, 35, auto, 0, auto);
    width: 100vw;
    height: 262px;
    overflow: hidden;
    display: flex;

    @include mi.mq(sp) {
        display: none;
    }

}

.h2SliderHinokiBox {
    position: absolute;
    @include mi.fontSizePc(27);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(150);
    width: 95%;
    top: -7%;
    left: 2.29%;
    font-weight: 600;
    color: #74564A;

    @include mi.mq(tab) {
        width: 95%;
    }

    @include mi.mq(sp) {
        @include mi.fontSizeSp(21);
        @include mi.lineheight(auto, auto);
        @include mi.letterSpacing(150);
        width: 96.5%;
        top: -3%;
        bottom: 0%;
    }
}

.sliderhinokiMainPc img {
    @include mi.marginPercent(1920, 0, 0, 0, 0);
    width: auto;
    height: 100%;
    max-width: unset;
    animation: loop 100s -50s linear infinite;

    &:last-child {
        animation: loop2 100s linear infinite;
    }

}

.sliderhinokiMainSp {
    @include mi.marginPercent(375, 20, auto, 0, auto);
    width: 100vw;
    height: 200px;
    overflow: hidden;

    @include mi.mq(sp) {
        display: flex;
    }
}

.sliderhinokiMainSp img {
    @include mi.marginPercent(375, 0, 0, 0, 0);
    width: auto;
    height: 100%;
    max-width: unset;
    animation: loop 100s -50s linear infinite;

    &:last-child {
        animation: loop2 100s linear infinite;
    }
}

@keyframes loop {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);

    }
}

@keyframes loop2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);

    }
}


.txtH3HinokiHouse {
    @include mi.fontSizePc(37);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(200);
    position: absolute;
    top: 14%;
    left: 40%;
    margin: auto;
    width: max-content;
    font-weight: 700;

    @include mi.mq(sp) {
        @include mi.fontSizeSp(20);
        @include mi.lineheight(auto, auto);
        @include mi.letterSpacing(200);
        top: unset;
        left: 20%;
        bottom: 15%;
    }
}

.txtCtnHinokiHouse {
    @include mi.paddingPercent(869, 40, 0, 0, 0);
    width: fit-content;
    position: absolute;
    left: 5%;
    top: -2%;
    margin: auto;
    font-weight: 700;
    @include mi.fontSizePc(30);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(150);
    white-space: nowrap;

    @include mi.mq(sp) {
        padding: 8.5% 0 0 0;
        @include mi.fontSizeSp(21);
        @include mi.lineheight(21, 33);
        @include mi.letterSpacing(150);
        left: 4.5%;
    }
}