/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.hiyoriHouse {
    @include mi.marginPercent(1920, -107, auto, 0, auto);
    @include mi.paddingPercent(1920, 183, 0, 287, 0);

    @include mi.mq(tab) {
        margin-top: -8%;
    }

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 0, auto, 0, auto);
        padding: 11% 0% 36.26% 0%;
    }
}

.bgHiyoriHouse {
    background: url(../img/bgHiyoriHousePc.png) no-repeat center top;
    background-size: auto 100%;

    @include mi.mq(sp) {
        background: url(../img/bgHiyoriHouseSp.png) no-repeat center top;
        background-size: cover;
    }
}

.HiyoriHouseWap {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 335);
    }
}

.secHiyoriHouse {}

.h3HiyoriHouse {
    @include mi.ontenerWidth(1200, 1000);
    margin: auto;
    position: relative;

    @include mi.mq(sp) {
        width: 47%;
    }
}

.photsHiyoriHouse {
    @include mi.marginPercent(1200, 56, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 7.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.secCtnHiyoriHouse {
    @include mi.marginPercent(1200, 60, auto, 0, auto);
    @include mi.ontenerWidth(1200, 869);
    position: relative;

    @include mi.mq(sp) {
        @include mi.marginPercent(335, 30, auto, 0, auto);
        @include mi.ontenerWidth(335, 335);
    }
}

.sliderHiyoriBox {
    @include mi.paddingPercent(1920, 35, 0, 57, 0);
    @include mi.marginPercent(1920, 67, auto, 0, auto);

    @include mi.mq(sp) {
        padding: 5.97% 0% 5.56% 0%;
        margin-top: 10.5%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.bgSliderHiyoriBox {
    background: url(../img/bgSliderHiyoriBoxPc.png) no-repeat center top;
    background-size: auto 100%;

    @include mi.mq(sp) {
        background: url(../img/bgSliderHiyoriBoxSp.png) no-repeat center top;
        background-size: cover;
    }
}

.sliderHiyoriBoxWap {}

.cntSliderHiyoriBox {
    @include mi.ontenerWidth(1200, 521);
    margin: auto;
    position: relative;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 335);
    }
}

.h2SliderHiyoriBox {
    position: absolute;
    @include mi.fontSizePc(27);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(150);
    width: 90%;
    top: -9%;
    left: 4.5%;
    font-weight: 600;
    color: #74564A;

    @include mi.mq(sp) {
        @include mi.fontSizeSp(21);
        @include mi.lineheight(auto, auto);
        @include mi.letterSpacing(150);
        width: 92%;
        top: -4%;
        bottom: 0%;
    }
}

.sliderHiyoriMainPc {
    @include mi.marginPercent(1920, 36, auto, 0, auto);
    width: 100vw;
    height: 262px;
    overflow: hidden;
    display: flex;

    @include mi.mq(sp) {
        display: none;
    }
}

.sliderHiyoriMainPc img {
    @include mi.marginPercent(1920, 0, 0, 0, 0);
    width: auto;
    height: 100%;
    max-width: unset;
    animation: loop 100s -50s linear infinite;

    &:last-child {
        animation: loop2 100s linear infinite;
    }
}

.sliderHiyoriMainSp {
    @include mi.marginPercent(375, 48, auto, 0, auto);
    width: 100vw;
    height: 200px;
    overflow: hidden;

    @include mi.mq(sp) {
        display: flex;
    }
}

.sliderHiyoriMainSp img {
    @include mi.marginPercent(375, 0, 0, 0, 0);
    width: auto;
    height: 100%;
    max-width: unset;
    animation: loop 100s -50s linear infinite;

    &:last-child {
        animation: loop2 100s linear infinite;
    }
}


.txtH3HiyoriHouse {
    @include mi.fontSizePc(37);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(200);
    position: absolute;
    top: 14%;
    left: 43.5%;
    margin: auto;
    width: max-content;
    font-weight: 700;

    @include mi.mq(sp) {
        @include mi.fontSizeSp(20);
        @include mi.lineheight(auto, auto);
        @include mi.letterSpacing(200);
        top: unset;
        left: 0;
        right: 0;
        bottom: 13%;
        margin: auto;
        position: absolute;
    }
}

.txtCtnHiyoriHouse {
    @include mi.paddingPercent(869, 37, 0, 0, 0);
    width: fit-content;
    position: absolute;
    left: 5.5%;
    top: -2%;
    margin: auto;
    @include mi.fontSizePc(30);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(150);
    font-weight: 700;

    @include mi.mq(sp) {
        padding: 8.5% 0 0 0;
        @include mi.fontSizeSp(21);
        @include mi.lineheight(21, 33);
        @include mi.letterSpacing(150);
        left: 4.5%;
        white-space: nowrap;
    }
}