/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
@include mi.mq(tab) {
    img {
        width: 100%;
    }
}

.merit {
    @include mi.marginPercent(1920, 85, auto, 0, auto);

    @include mi.mq(sp) {
        margin-top: 5.33%;
        margin-bottom: 0%;
        margin-left: auto;
        margin-right: auto;
    }
}

.titleMerit {
    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 335);
        margin: auto;
    }
}

.meritPoint {}

.bgMeritPoint {
    background: url(../img/bgMeritPointPc.png) no-repeat center top;
    background-size: auto 100%;
    @include mi.paddingPercent(1920, 147, 0, 0, 0);

    @include mi.mq(sp) {
        background: url(../img/bgMeritPointSp.png) no-repeat center top;
        background-size: auto 100%;
        @include mi.paddingPercent(375, 70, 0, 62, 0);
    }
}

.meritPointWap {}

.ulMeritPoint {
    @include mi.ontenerWidth(1200, 1000);
    margin: auto;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 335);
    }
}

.liMeritPoint {
    @include mi.ontenerWidth(1000, 294);
    position: relative;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(335, 335);

        img {
            width: 100%;
        }
    }

    &:nth-child(n+4) {
        @include mi.marginPercent(1000, 25, 0, 0, 0);

        @include mi.mq(sp) {
            margin: 12.94% 0% 0% 0%;
        }
    }

    &:nth-child(1) {
        @include mi.mq(sp) {
            width: 87%;
            margin: 0% auto 0% auto;
        }
    }

    &:nth-child(2) {
        @include mi.mq(sp) {
            width: 87%;
            margin: 12.94% auto 0% auto;
        }
    }

    &:nth-child(3) {
        @include mi.mq(sp) {
            width: 88%;
            margin: 11.94% auto 0% auto;
        }
    }

    &:nth-child(4) {
        @include mi.mq(sp) {
            width: 88%;
            margin: 11.94% auto 0% auto;
        }
    }

    &:nth-child(5) {
        @include mi.mq(sp) {
            width: 87.5%;
            margin: 11.94% auto 0% auto;
        }
    }

    &:nth-child(6) {
        @include mi.mq(sp) {
            margin: 24.94% auto 0% auto;
        }
    }
}

.txtMeritPoint {
    @include mi.fontSizePc(18);
    @include mi.lineheight(18, 21);
    @include mi.letterSpacing(150);
    font-weight: 700;
    position: absolute;

    @include mi.mq(sp) {
        @include mi.fontSizeSp(18);
        @include mi.lineheight(18, 21);
        @include mi.letterSpacing(150);
    }
}

.txtMeritPoint01 {
    top: 60.1%;
    left: 8.25%;
    width: 87%;
    text-align: center;

    @include mi.mq(sp) {
        top: 65%;
        left: 12%;
        width: 80%;
        text-align: center;
    }
}

.txtMeritPoint02 {
    top: 59.4%;
    left: 1%;
    width: 100%;
    text-align: center;

    @include mi.mq(sp) {
        top: 61%;
        left: 11%;
        width: 80%;
        text-align: center;
    }
}

.txtMeritPoint03 {
    top: 58.8%;
    left: 5.9%;
    width: 90%;
    text-align: center;

    @include mi.mq(sp) {
        top: 58.8%;
        left: 9.9%;
        width: 80%;
        text-align: center;
    }
}

.txtMeritPoint04 {
    top: 39.5%;
    left: 5.1%;
    width: 90%;
    text-align: center;

    @include mi.mq(sp) {
        top: 55%;
        left: 0;
        width: 100%;
        text-align: center;
        text-align: center;
    }
}

.txtMeritPoint05 {
    top: 37.5%;
    left: 4.2%;
    width: 90%;
    text-align: center;

    @include mi.mq(sp) {
        top: 55.5%;
        left: 5.5%;
        width: 89%;
        text-align: center;
    }
}