/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.titleComitMent {
    @include mi.marginPercent(1920, 140, auto, 0, auto);

    @include mi.mq(sp) {
        @include mi.marginPercent(375, 96, auto, 0, auto);
    }
}

.titleComitMentWap {}

.titleComitMentPic {
    @include mi.ontenerWidth(1200, 1200);

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 335);
        margin: auto;
    }
}

//
.bgMainComitment {
    @include mi.paddingPercent(1920, 64, 0, 0, 0);
    background: url(../img/bgMainComitmentPc.png) no-repeat top center;
    background-size: auto 3523px;

    @include mi.mq(sp) {
        @include mi.paddingPercent(375, 0, 0, 0, 0);
        background: none;
    }
}

.mainComitmentWap {
    background: url(../img/bgMainComitmentWapPc.png) no-repeat top center;
    background-size: auto 100%;
    @include mi.paddingPercent(1920, 40, 0, 90, 0);

    @include mi.mq(sp) {
        @include mi.paddingPercent(375, 40, 0, 70, 0);
        background: #F7F4EB;
    }
}

.ulMainComitment {
    @include mi.ontenerWidth(1200, 1000);
    margin: auto;

    @include mi.mq(sp) {
        @include mi.ontenerWidth(375, 335);
    }
}

.liMainComitment {
    position: relative;

    img {
        width: 100%;
    }

    &:nth-child(n+2) {
        @include mi.marginPercent(1000, 100, auto, 0, auto);

        @include mi.mq(sp) {
            @include mi.marginPercent(335, 70, auto, 0, auto);
        }
    }
}

//
.ctaCommit {
    @include mi.marginPercent(1920, 100, auto, 0, auto);
}

.ctaCommitWap {}

.ulCtaCommit {
    @include mi.ontenerWidth(1200, 1000);
    margin: auto;
}

.liCtaCommit {
    @include mi.ontenerWidth(1000, 449);
}

.txtLiMainComitment {
    @include mi.fontSizePc(30);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(150);
    font-weight: 700;
    position: absolute;

    @include mi.mq(sp) {
        @include mi.fontSizeSp(22);
        @include mi.lineheight(22, 30);
        @include mi.letterSpacing(150);
    }
}

.txtLiMainComitment01 {
    top: 2%;
    left: 25%;

    @include mi.mq(sp) {
        top: 6.5%;
        left: 20%;
        width: 65%;
    }
}

.txtLiMainComitment02 {
    top: 4.5%;
    left: 26.5%;

    @include mi.mq(sp) {
        top: 12%;
        left: 20%;
        text-align: center;
        width: 61%;

    }
}

.txtLiMainComitment03 {
    top: 2.3%;
    left: 26.8%;

    @include mi.mq(sp) {
        top: 2.05%;
        left: 15%;
        text-align: center;
        width: 71%;
    }
}

.txtLiMainComitment04 {
    top: 6.5%;
    left: 41.4%;

    @include mi.mq(sp) {
        top: 12.0%;
        left: 21%;
        text-align: center;
        width: 60%;
    }
}

.txtLiMainComitment05 {
    top: 0%;
    left: 0%;

    @include mi.mq(sp) {
        top: 0%;
        left: 0%;
    }
}